<section class="container mx-auto" id="hero">
  <div class="flex flex-col items-center mx-auto py-28">
    <span
      class="flex items-center gap-2 px-3 py-2 border border-border rounded-full text-sm text-foreground/60"
    >
      Kenapa pilih kami?
    </span>

    <h2 class="text-5xl font-medium text-center leading-tight mt-8">
      Kecepatan & hasil adalah
      <br />
      tugas kami
    </h2>

    <p
      class="leading-relaxed text-foreground/60 w-6/12 text-center text-pretty mt-10 text-lg"
    >
      Built from the ground up to deliver razor sharp screen sharing, crisp
      audio, and seamless remote control, so you can get into the flow with your
      teammates and do real work.
    </p>
  </div>
</section>
