<section class="container mx-auto" id="hero">
  <div class="flex flex-col items-center mx-auto py-20 pb-28">
    <span
      class="flex items-center gap-2 px-3 py-2 border border-border rounded-full text-sm text-foreground/60"
    >
      <i class="fi fi-sr-heart text-pink-500"></i>
      Dipercaya lebih dari 100+ pelanggan
    </span>

    <h2 class="text-6xl font-medium text-center leading-tight mt-8">
      Solusi cepat & tepat untuk
      <br />
      masalah sanitasi kamu
    </h2>

    <p
      class="leading-relaxed text-foreground/60 w-6/12 text-center text-pretty mt-10 text-lg"
    >
      Built from the ground up to deliver razor sharp screen sharing, crisp
      audio, and seamless remote control, so you can get into the flow with your
      teammates and do real work.
    </p>

    <div class="flex items-center justify-center gap-6 flex-wrap mt-10">
      <span
        class="flex items-center gap-2 text-sm text-foreground/60 cursor-pointer transition-all duration-300 hover:-translate-y-1"
      >
        <i class="fi fi-ss-check-circle text-green-600"></i>
        Cepat & efisien
      </span>
      <span
        class="flex items-center gap-2 text-sm text-foreground/60 cursor-pointer transition-all duration-300 hover:-translate-y-1"
      >
        <i class="fi fi-ss-check-circle text-green-600"></i>
        Batalkan kapan saja
      </span>
      <span
        class="flex items-center gap-2 text-sm text-foreground/60 cursor-pointer transition-all duration-300 hover:-translate-y-1"
      >
        <i class="fi fi-ss-check-circle text-green-600"></i>
        Harga terjangkau
      </span>
    </div>

    <div class="flex items-center mt-16 gap-5">
      <a
        href="/#cta"
        target="_blank"
        class="flex items-center justify-center px-8 h-14 gap-3 rounded-full leading-none text-sm font-medium bg-primary text-primary-foreground transition-all duration-300 hover:-translate-y-1"
      >
        Hubungi Kami
      </a>
    </div>

    <div class="mt-24 p-3 rounded-4xl bg-surface w-full">
      <div class="p-2 border-2 border-border border-dashed rounded-3xl">
        <img
          src="https://images.unsplash.com/photo-1569597967185-cd6120712154?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Kuras WC Bali"
          class="rounded-2xl object-cover h-[700px] w-full"
        />
      </div>
    </div>
  </div>
</section>
