---
import Footer from "@components/footer.astro"
import Header from "@components/header.astro"
import "@styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main class="flex">
      <slot />
    </main>
    <Footer />
  </body>
</html>
